/*
	Name: Balraj Katwal
	UoN ID: 16418510 
*/

/*To remove existing margins and paddings on the page*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Exo', sans-serif;  /*setting the CSS property for font-family to Exo from google fonts and using the fallback font sans-serif*/
}

.logo {
/*	setting the height and width of the page's logo*/
	height: 55px;
	width: 90px;
	margin: 0px 0px 18px 250px; /*To shift the logo towards right*/
	transition: all 1s ease;  /*To set the transition property for each social logo item*/
}

.logo:hover{
	transform: scale(1.10);  /*To scale up the size of logo on hover*/
}

.menubar {
	background: rgba(178,190,40,0.80);  /*To set the background color of the menubar at the top of the page*/
	/*setting the height of the menubar and giving it border to the left side of menubar for extra design*/
	height: 60px;
	border-left: 15px dashed #C5070B;
	display: flex;
	justify-content: center; /*The menu items are centered */
	margin-top: -80px;  /*To adjust the menubar to keep it at the top of everything else*/
}


li {
	list-style: none;  /*To remove the list style from the menu list*/
}

.menu {
	text-decoration: none;	/*To remove the underline from the links*/
	text-transform: uppercase;	/*To make all the letters uppercase*/
	display: inline-block;	/*To display the elements in the block elements*/
	color: #031737;
	padding: 19.5px;
}

.menu:hover {  /*Changes the background color and color of the menu links*/
	background: #031737;
	color: #B2BE28;
}

.flag {
	height: 60px;
	float: right;	/*To render the flag of Nepal at the right side in the menubar*/
	margin: -60px 200px 0 0;
}

section {
	background: linear-gradient(to bottom, #111722, #38506B);
}

h3 {
	text-align: center;
	padding-top: 20px;
	color: snow;
}

.collection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: auto;
	margin: 10px 20px 0px 20px;
	padding: 15px 0px;
	box-shadow: 1px 1px 20px 1px grey;
}

.childhood-pics img{
	margin: 0px 15px;
}

img {
	margin: 8px;
	transition: all 1s ease;
}

img:hover {
	transform: scale(1.20); /*To scale up the size of images*/
}

footer {	/*Propersies for footer*/
	background: rgba(31,30,30,1.00);
	height: 100px;
	color: white;
}

.footer-text {	/*Properties for text inside the footer*/
	text-align: center;
	padding: 3%;
}
